.product-container {
    display: flex;
    flex-direction: row;
    height: 100%; 
    
    .part {
        flex: 1; 
        padding: 10px;
        box-sizing: border-box;
        overflow: auto; 
        display: flex;
        flex-direction: column;
        justify-content: center;

        .action{    
            margin-left: auto;
        }
        
    }
    .text {
        flex-grow: 1;
        display: flex;
        align-items: center; 
        padding: 5px 0;
    }
}

.img-in-list{
    width: 80%;
    margin: auto;
}