<div class="container">
  <div class="part product-list-part">
    <div class="product-list">
      <div class="actions">
        <div class="action form-group">
          <button class="btn btn-success" (click)="onAdd()">Add New Product</button>
        </div>
        <div class="action form-group">
          <input class="form-control" type="text" placeholder="Search Your product" [(ngModel)]="query">
        </div>
        <div class="action form-group">
            <select class="form-control" id="sortBy" required [(ngModel)]="sortByQuery">
              <option value="" disabled selected>Sort by</option>
              <option *ngFor="let option of SORT_BY_OPTIONS" [value]="option.col">{{option.display}}</option>
            </select>
        </div>
      </div>
      <ul>
        <li *ngFor="let product of (productsStoreService.getProducts() | async) | filterProducts : query | sortbyProducts: sortByQuery">
          <app-product (click)="onSelect(product)" [product]="product"></app-product>
        </li>
      </ul>
    </div>
  </div>
  <div class="part product-details-part">
    <app-product-details [product]="selectedProduct"></app-product-details>
  </div>
</div>