<div class="container">
    <h1>{{ product.id ? 'Update Your Product' : 'Add a Product' }}</h1>
    <img [src]="updateProduct.img" class="img-rounded">
    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="updateProduct.name" name="name" >
        </div>
        
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" required [(ngModel)]="updateProduct.description" name="description">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" required [(ngModel)]="updateProduct.price" name="price">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">{{ updateProduct.id ? 'Update' : 'Add a new Product' }}</button>
    </form>
</div>